body{
    width: 100%;
    margin: 0;
}



#mainDiv{
    background-color: aqua; /* REMOVE THIS; THIS IS JUST FOR DEBUGGING*/
    display: flex;
    height: 100vh;
}

#sidebarDiv{
    width: 20%;
    height: inherit;
    background-color: green;
}

#contentDiv{
    width: 80%;
    height: inherit;
    background-color: red;

}

